.primary-btn {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--primary);
  /* text-align: center; */
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
}

.primary-btn span {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.secondary-btn {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--secondary);
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.border-btn {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: var(--primary) 2px solid;
  background-color: transparent;
  color: var(--primary);
  font-size: 20px;
  font-weight: 700;
}

.primary-small {
  width: 100px;
  height: 45px;
  border-radius: 10px;
  background-color: var(--primary);
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.border-small {
  width: 103px;
  height: 45px;
  border-radius: 10px;
  border: var(--primary) 2px solid;
  background-color: transparent;
  color: var(--primary);
  font-size: 16px;
  font-weight: 700;
}

.secondary-small {
  width: 103px;
  height: 45px;
  border-radius: 10px;
  background-color: var(--secondary);
  color: white;
  font-size: 16px;
  font-weight: 700;
}
